KAGGLE_DATASET_ROOT="/kaggle/input/datasets/ahmedmohamed365/volleyball"
KAGGLE_NUM_WORKERS=4
KAGGLE_ANNOT_DIR="/kaggle/working"
KAGGLE_B3_PHASE_A_MODEL=""
KAGGLE_B5_PHASE_A_MODEL=""

LOCAL_DATASET_ROOT=""
LOCAL_NUM_WORKERS=4
LOCAL_B3_PHASE_A_MODEL=""
LOCAL_B5_PHASE_A_MODEL=""
